.bar {
    fill:red;
}

.bar:hover {
    fill: rgb(157, 0, 255);
}

.tooltip {
    position: absolute;
    background-color: rgb(156, 64, 64);
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
    pointer-events: none;
    
}

.annotation-text {
    font-size: 12px;
    fill: #666;
  }

  .no-data-message {
    font-size: 24px; 
    text-align: center;
    color: #666; 
    margin-top: 20px;
  }
  