.filter {
    margin-bottom: 10px;
  }
  
  .filter select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .no-data-message {
    font-size: 24px; 
    text-align: center;
    color: #666; 
    margin-top: 20px;
  }
  