<div *ngIf="fields && fields.length > 0; else noDataTemplate">
  <div class="chart-header">
    <h2 *ngIf="selectedField">{{ selectedField }} Distribution</h2>
    <div class="dropdown-container">
      <select id="field-select" [(ngModel)]="selectedField" (change)="onFieldChange(selectedField)">
        <option *ngFor="let field of fields" [value]="field">{{ field }}</option>
      </select>
    </div>
  </div>
  <div id="histogram"></div>
</div>

<ng-template #noDataTemplate>
  <div class="no-data-message">
    <h2>No Numeric Data Available For the Distribution Chart to Populate</h2>
  </div>
</ng-template>
