.bar {
  fill: steelblue;
}

.bar:hover {
  fill: orange;
}

.tooltip {
  position: absolute;
  background-color: white;
  padding: 5px;
  border: 1.5px solid black;
  border-radius: 5px;
  pointer-events: none;
}

.no-data-message {
  font-size: 24px; 
  text-align: center;
  color: #666; 
  margin-top: 20px;
}
