<div id="home-container">
  <nav [class]="navclass">
    <div class="logo" (click)="navigate('')" title="Home">
       <img src="assets/images/logo.png" width="50px">
    </div>
    <div (click)="navigate('/UploadDataset')">
      Upload dataset
    </div>
    <div (click)="navigate('/DataProfile')">
      Data Profile
    </div>
    <div (click)="navigate('/DataCleaning')">
      Data Cleaning
    </div>
    <!-- <div (click)="navigate('/UploadDataset')">
      Job Status
    </div> -->
    <div (click)="navigate('/Export')">
      Export
    </div>
  


  </nav>
  <div class="content-container">
     <router-outlet></router-outlet> 
  </div>
  
</div>
<div id="mobile" hidden>Please use computer to access the webpage</div>
<div id="folating-button-container">
  <div (click)="showsidebar()">   <span class="material-icons">accessibility</span> </div>
 
</div>

<p-sidebar [(visible)]="sidebarVisible" position="right">
  <h2>Accessibility Bar</h2>
  <div>
    <div class="Accessibility-buttons" (click)="changeBG('DEFAULT')">Default</div>
    <div class="Accessibility-buttons" (click)="changeBG('WHEAT')">off-white / Black</div>
    <div class="Accessibility-buttons" (click)="changeBG('BLACK')">Black / White</div>
    <div class="Accessibility-buttons" (click)="changeBG('BLUE')">Blue / Yellow</div>
    <hr/>
    <!-- <h3>Font</h3>
    <div class="Accessibility-buttons" (click)="changeOpenDyslexicFont()">OpenDyslexic </div> -->
    <h3>
      <div class="Accessibility-buttons" (click)="adhd()">ADHD Friendly </div> 
    </h3>
  </div>
</p-sidebar>

<div class="card flex justify-content-center">
 
  <p-dialog header="ADHD" [modal]="true" [(visible)]="adhdmodal" [style]="{width: '80vw'}" [maximizable]="true">
    <p-terminal welcomeMessage="DataPolish command line" prompt="asking Datapolish to do ... "></p-terminal>
  </p-dialog>
</div>


<input hidden type="file" id="uploadadhd" (change)="adhdfile($event)"/>