<div id="home-container">
  <nav>
    <div class="logo" (click)="navigate('')" title="Home">
       <img src="assets/images/logo.png" width="50px">
    </div>
    <div (click)="navigate('/UploadDataset')">
      Upload dataset
    </div>
    <div (click)="navigate('/DataProfile')">
      Data Profile
    </div>
    <div (click)="navigate('/DataCleaning')">
      Data Cleaning
    </div>
    <!-- <div (click)="navigate('/UploadDataset')">
      Job Status
    </div> -->
    <div (click)="navigate('/Export')">
      Export
    </div>
    <!-- <div>
      Visualization
    </div> -->
    <!-- <div (click)="navigate('/Logoff')">
      Log off
    </div> -->
  </nav>
  <div class="content-container">
     <router-outlet></router-outlet> 
  </div>
  
</div>

