nav{
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.2 );
    min-width: 15vw;
    max-height: 80vh;
    color: white;
}
#home-container{

    width: 99vw;
    margin: 1em 0.5em 0px 1em;
    padding: 0px;
    display: flex;

}
nav div{
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 0 10% 0;
    border-bottom:solid rgb(71, 94, 151) 1px ;
}
nav div:hover{
cursor: pointer;
background-color: rgb(91, 23, 86);
color: rgb(255, 255, 255);
}
.content-container{
    min-height: 90vh;
    min-width: 85vw;
    max-width: 100%;
    max-height: 100vh;
    overflow: scroll;
}
.logo img{
    border-radius: 10px;
}
