nav{
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    min-width: 15vw;
    min-height: 100vh;
    color: white;
}
#home-container{

    width: 99vw;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    display: flex;

}
nav div{
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 0 10% 0;
    border-bottom:solid rgb(52, 72, 122) 1px ;
}
nav div:hover{
cursor: pointer;
background-color: rgb(91, 23, 86);
color: rgb(255, 255, 255);
}
.content-container{
    min-height: 100vh;
    min-width: 85vw;
    max-width: 100%;
    max-height: 100vh;
    overflow: scroll;
}
.logo img{
    border-radius: 10px;
}
