
<div class="background-image" style="background-image: url('assets/background2.jpg');"></div>

<!-- <img src="assets/Logo.png" alt="Data Polish Logo" class="logo"> -->
<img src="assets/top-corner-logo.png" alt="Data Polish Logo" class="logo">

<button class="signin-button">Sign In</button>

<div class="landing-page">
  <h4>WELCOME TO DATAPOLISH</h4>
  <p class="description">Ultimate tool for seamless<br>and effective Data Cleaning.</p>
  <div class="buttons">
    <button><a href="#tutorial-section">Tutorial</a></button>
    <button (click)="getStarted()">Get Started</button>
  </div>
</div>

<div class="scroll-down-container">
  <div class="scroll-down-arrow"></div>
  <p class="scroll-down-text">Scroll down</p>
</div>

<div class="tutorial-section" id="tutorial-section">
  <h1>Tutorial</h1>
  <h2>Discover DataPolish through our Video Guide</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Bd3SdkEaIaE?si=0q9PQ-Tx5DboXSJ7"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
  <h2>Step-by-Step Guide</h2>
  <h3>1. Upload Your Data</h3>
  <p>Upon logging in, you will seamlessly transition to this page where you can upload your data to
    start the journey. Supported file formats include CSV and Excel, with a maximum size limit of
    20MB. You can use the 'Choose' button or drag-and-drop your file, then click 'Upload' button to
    proceed. Clcik on "Next" button to navigate to second page.</p>
  <img src="assets/data upload 1.png" class="step-1-SS">
  <br> <br>
  <h3>2. Preview Uploaded Data</h3>
  <div class="step2-text">
    <p>On this page, you can view the first 200 rows of your uploaded data.
      Enhance your viewing experience with various features including: </p>
        <ul>
          <li>Expand columns to view full content.</li>
          <li>Auto-size individual columns or all columns using 'Autosize This Column' and 
            'Autosize All Columns' options.</li>
          <li>Reset columns after applying filters.</li>
          <li>Adjust column positions as needed.</li>
          <li>Pin columns to the left or right.</li>
          <li>Sort column contents in ascending or descending order.</li>
          <li>Utilize the 'Filters' option to refine the contents of each column, with the ability 
            to select, deselect, and use a search bar.</li>
          <li>Unlock insights with the <i>Pivot table</i> feature, dynamically reorganizing and 
            summarizing data for a customized and insightful view.</li>
          <li>Optimize organization and analysis by implementing <i>Row Groupings</i> feature.</li>
          <li>After implementing row groupings, apply various value aggregations such as average, 
            count, first, last, maximum, minimum, and summation.</li>
          <li>Further features post row groupings include 'Un-Group All', 'Group by Group', 
            'Expand All Row Groups' and 'Collapse All Row Groups' to facilitate group management.</li>
        </ul>
  </div>
  <br>
  <img src="assets/data preview.png" class="step-2-SS">
  <br> <br>
  <h3>3. Data Insights Dashboard - Navigating Data Quality, Profiling, and Exploration</h3>

  <h3>4. Perform Data Cleaning Actions</h3>
  <h3>5. Download Cleaned Data</h3>
  <p>After configuring your data cleaning preferences in the preceding steps, download your refined 
    data. Simply choose the desired file format, either CSV or Excel, from the drop-down menu. 
    Complete the process by clicking the 'Export' button, making it hassle-free to download the 
    cleaned data tailored to your specifications.</p>
</div>