* {
  font-family:"Verdana";
  font-size: 12;

}

body {

  margin: 0;
  min-height: 100vh;
  
}

@font-face {
  font-family: OpenDyslexic;
  src: url('assets/Font/OpenDyslexic-Regular.otf');
}

.glass-card {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.502);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2vh;
  color: rgb(0, 0, 0);
  width: 30vw;
}
.no-glass-card {
  /* From https://css.glass */
  background: rgb(252, 252, 252);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2vh;
  color: black;
  width:50vw;
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #10a531;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.accessiable-red-box:hover {
  border: red 2px;
}
@media only screen and (max-width: 900px) {
  #home-container {
    visibility: hidden;
  }
  #mobile{
    visibility: visible;
  }
}