
  *{
     font-family: "Roboto Flex", sans-serif;
    font-size: medium;
    font-weight: 100;
  }
  body{
    margin: 0px;
  }
  .router-content-center{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
  }