* {
  font-family:"Verdana";
  font-size: 12;
  

}

body {

  margin: 0;
  min-height: 100vh;
  background: rgb(24,21,60);
  background: linear-gradient(172deg, rgba(24,21,60,1) 19%, rgba(20,176,159,1) 100%);
/* background: black; */



}
/* Move this to Frontend-Angular/data-polish-frontend/src/app/D3/missing-values-chart/missing-values-chart.component.css but it is currently being overidden */
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: orange;
}



.tooltip {
  position: absolute;
  background-color: white;
  padding: 5px;
  border: 1.5px solid black;
  border-radius: 5px;
  pointer-events: none;
}

.smc-section {
  width: 100%;
  margin-bottom: 20px; /* Adjust as needed for spacing between sections */
}
/* Move this to Frontend-Angular/data-polish-frontend/src/app/D3/missing-values-chart/missing-values-chart.component.css but it is currently being overidden */
.router-content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;

}

.glass-card {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.502);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2vh;
  color: rgb(0, 0, 0);
  width: 30vw;
}
.no-glass-card {
  /* From https://css.glass */
  background: rgb(252, 252, 252);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2vh;
  color: black;
  width:50vw;
  display: flex;
  justify-content: center;
}

/* ::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #10a531;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

.accessiable-red-box:hover {
  border: red 2px;
}
@media only screen and (max-width: 900px) {
  #home-container {
    visibility: hidden;
  }

  #mobile {
    visibility: visible;
  }
}

sup:hover{
  cursor: pointer;
}

.chart-heading{
  font-size: 12;
  font-family:"Verdana";
  text-align: center;
}