

<div class="progress-bar" *ngIf="!dataloaded">
    <p-progressSpinner [hidden]="hidepregress"></p-progressSpinner>
    <div class="mes" [hidden]="!hidepregress">
        We are processing your file, please come back after some time
      
        <div class="refresh">
            <span class="material-icons" (click)="refresh()">
                        sync
                        </span>
                        <div>Refresh</div>
        </div>
    </div>
</div> 

<ag-grid-angular
    *ngIf="dataloaded"
    [style]="gridStyle"
    class="ag-theme-alpine"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData"
    [sideBar]="sideBar"

    [columnDefs]="columnDefs">
</ag-grid-angular>
