<div class="tb-container">
    <table class="styled-table">
        <thead>
            <tr >
                <th *ngFor="let header of DatapreviewColumnNames;">
                    {{header}}
                   
 
                </th>
            </tr>
        </thead>
      
        <tbody>
            <tr *ngFor="let item of DatapreviewData">
                <td *ngFor="let header of DatapreviewColumnNames" title="{{item[header]}}">
                    {{item[header]}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
