.bar {
    fill: steelblue;
}

.bar:hover {
    fill: orange;
}

.tooltip {
    position: absolute;
    background-color: white;
    padding: 5px;
    border: 1.5px solid black;
    border-radius: 5px;
    pointer-events: none;
}