<div style="
background: rgb(24,21,60);
background: linear-gradient(172deg, rgba(24,21,60,1) 19%, rgba(20,176,159,1) 100%);
display: flex;
justify-content: center;
align-items: center;
height: 100%;
width: 100%;
position: fixed;
    top: 0;
    left: 0;

">
<div *ngIf="showMessage"
    style="
        min-height: 70%;
        padding: 20px;
        display: flex;
justify-content: center;
align-items: center;"
>
<div

style="display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 10px;">
    
   
    <div
    style="background-color: white;
    padding: 10px; width: 100%;
    font-size: large;
    text-align: center;
    border-radius: 5px;">
        Set New Password
    </div>
            <form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
                
        
                <label for="email">Email</label>
                <input type="email" id="email" name="email" 
                placeholder="Enter Your Email"
                [(ngModel)]="email" required>     

                <label for="name"> OTP</label>
                <input type="text"  name="name" 
                placeholder="Enter Your OTP Recived"
                [(ngModel)]="otp" required>   

                <label for="name1">Password</label>
                <input type="password"  name="name1" 
                placeholder="Enter your new password"
                [(ngModel)]="password1" required>

                <label for="name2">Retype Password</label>
                <input type="password" name="name2" 
                placeholder="Retype Your New Password"
                [(ngModel)]="password2" required>
                
        
                <button type="submit">Save password</button>
            </form>
           
       
</div>
</div>

<div *ngIf="!showMessage" 
    style="min-width: 30vw;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
    align-items: center;"
>
    Password has been Updated, Navigate to Log in page to continue
    <div style="min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;">
    <div style="border: 1px black solid;
    padding: 10px;"
    class="go-home"
    
    (click)="navigateToLogin()">
        Login
    </div>
        
    </div>

</div>
</div>

<p-toast position="bottom-left"></p-toast>