<div style="
background: rgb(24,21,60);
background: linear-gradient(172deg, rgba(24,21,60,1) 19%, rgba(20,176,159,1) 100%);
min-height: 98vh;
display: flex;
justify-content: center;
align-items: center;

">
<div 
    style="
        min-height: 70%;
        padding: 20px;"
>
<div

style="display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 20px;">
    
   
            <!-- <div>
                
                <label for="name">Full Name</label>&nbsp;
                <input  name='name' placeholder="Enter your Full name">
            </div>
            <div>
                <label for="email">Email</label>&nbsp;
                <input name="email" placeholder="Enter your email address">
            </div>
            
            <div class="create-user">Create User</div> -->
            <form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
                
        
                <label for="email">Email</label>
                <input type="email" id="email" name="email" [(ngModel)]="email" required>     

                <label for="name">Enter the OTP</label>
                <input type="text" id="name" name="name" [(ngModel)]="otp" required>   

                <label for="name">Enter Your Password</label>
                <input type="password" id="name" name="name" [(ngModel)]="password1" required>

                <label for="name">Retype Your Password:</label>
                <input type="password" id="name" name="name" [(ngModel)]="password2" required>
                
        
                <button type="submit">Register</button>
            </form>
           
       
</div>
</div>
</div>

<p-toast position="bottom-left"></p-toast>