<div id="file-upload-home-container">
    <div id="file-upload-home-container-modal">
        <div class="notbr-text" style="--fixation-opac: 1; --fixation-size: 16px; --fixation-height: 64px; --fixation-spacing: 0px; --fixation-weight1: 700; --fixation-weight2: 300;"><p><span class="notbr-fixation">Upl</span>oad <span class="notbr-fixation">on</span>ly <span class="notbr-fixation">CS</span>V <span class="notbr-fixation">fi</span>le </p>
        <div>
            <input  type="file"
            (change)="uploadFile($event)">
        </div>
       
        <br/>
       <div id="upload-file-button" (click)="upload()">
        Upload <strong>Dat</strong>aset
       </div>      

    </div>
</div>