<div id="file-upload-home-container">
       <div class="card flex justify-content-center">
        <p-fileUpload  #fileupload [customUpload]="true" (uploadHandler)="Upload($event)" (onUpload)="onUpload($event)" >
            <ng-template pTemplate="content">
                <div id=fileupload>
                     <img src="assets/images/draganddrop-icon.png" > 
                     <label>Drag & Drop file here</label>   
                     <br/>
                     <cite>Supported file types CSV and Excel </cite> 
                     <cite>Max file size : 20 MB </cite> 
                </div>
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                </ul>
            </ng-template>
        </p-fileUpload>
    </div>
</div>


