<div class="background-image"
style="background-image: url('assets/background2.jpg');"
></div>
<div class="landing-page">
  <!-- <img src="assets/Logo.png" alt="Data Polish Logo" class="logo"> -->
  <img src="assets/top-corner-logo.png" alt="Data Polish Logo" class="logo">
  <h3>WELCOME TO DATAPOLISH</h3>
  <p>Ultimate tool for seamless<br>and effective Data Cleaning.</p>
  <div class="buttons">
    <button (click)="openTutorial()">Tutorial</button>
    <button (click)="getStarted()">Get Started</button>
  </div>
</div>
