<div class="background-image"
style="background-image: url('assets/background2.jpg');"
></div>
<div class="landing-page">
  <!-- <img src="assets/Logo.png" alt="Data Polish Logo" class="logo"> -->
  <img src="assets/top-corner-logo.png" alt="Data Polish Logo" class="logo">
  <h4>WELCOME TO DATAPOLISH</h4>
  <p>Elevate your data quality with DataPolish – <br> the ultimate tool for seamless and effective data cleaning.</p>
  <div class="buttons">
    <button (click)="openTutorial()">Tutorial</button>
    <button (click)="getStarted()">Get Started</button>
  </div>
</div>
