
  <div class="background-image"
  style="background-image: url('assets/background2.jpg');"
  ></div>

  <!-- <img src="assets/Logo.png" alt="Data Polish Logo" class="logo"> -->
  <img src="assets/top-corner-logo.png" alt="Data Polish Logo" class="logo">
  
  <div class="landing-page">    
    <h4>WELCOME TO DATAPOLISH</h4>
    <p class="description">Ultimate tool for seamless<br>and effective Data Cleaning.</p>
    <div class="buttons">
      <button><a href="#tutorial-section">Tutorial</a></button> 
      <button (click)="getStarted()">Get Started</button>
    </div>
  </div>

  <div class="tutorial-section" id="tutorial-section">
    <h1>Tutorial</h1>
    <h2>Discover DataPolish through our Video Guide</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Bd3SdkEaIaE?si=0q9PQ-Tx5DboXSJ7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <h2>Step-by-Step Guide</h2>
    <h3>1. Upload Your Data</h3>
    <h3>2. Preview Uploaded Data</h3>
    <h3>3. Data Insights Dashboard - Unlocking Quality, Profiling, and Exploration</h3>   
    <h3>4. Perform Data Cleaning Actions</h3>
    <h3>5. Download Cleaned Data</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Congue nisi vitae suscipit tellus mauris. Enim sit amet venenatis urna cursus eget nunc scelerisque viverra. Purus sit amet luctus venenatis lectus magna. Vel orci porta non pulvinar neque laoreet suspendisse interdum consectetur. Eu augue ut lectus arcu bibendum. Aliquet nibh praesent tristique magna. Laoreet sit amet cursus sit amet dictum. Imperdiet proin fermentum leo vel orci. Netus et malesuada fames ac turpis egestas sed. Sit amet consectetur adipiscing elit ut aliquam purus sit. Nunc eget lorem dolor sed viverra. Turpis egestas integer eget aliquet nibh praesent tristique magna sit. Porta nibh venenatis cras sed. Magna eget est lorem ipsum dolor. Est ultricies integer quis auctor elit. Amet consectetur adipiscing elit pellentesque habitant morbi.</p>
  </div>

