.export-container{
    min-width: 50vw;
    min-height: 50vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.export-card{
    min-width: inherit;
    min-height: 20vh;
    background-color: white;
    padding: 30px;
    color: gray;
    display: grid;
    grid-template-columns: 1f;
    gap: 20px;
}