<div class="bubble-chart">
  <div class="chart-header">
    <h2 class="chart-heading" *ngIf="numberOfInstances == 25">Top {{ numberOfInstances }} Instances for {{ selectedCategory }}</h2>
    <h2 class="chart-heading" *ngIf="numberOfInstances < 25">Most Prevalent Instances for {{ selectedCategory }}</h2>
    <div class="dropdown-container">
      <select id="category-select" #categorySelect (change)="onCategoryChange(categorySelect.value)">
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>
    </div>
  </div>
  <div #bubbleChart></div>
</div>
