<div class="remove-all-button">
  <div (click)="removeAllFields()">
    Remove All Columns
  </div>
</div>
<ag-grid-angular
    style="width: 80vw;height: 70vh;"
    class="ag-theme-alpine"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData"
    [sideBar]="sideBar"
    editable=true
    
    [columnDefs]="DatapreviewColumnNames"
    (gridReady)="onGridReady($event)">
</ag-grid-angular>


<p-dialog [header]="currentrow" 
[(visible)]="visible" 
[breakpoints]="{ '960px': '75vw' }" 
[style]="{ width: '60vw',height:'80vh' }"
 [draggable]="true"
  [resizable]="true">
  <div class="pop-up-continer">
    <div>
      Remove Special characters
    <p-checkbox  [(ngModel)]="cb_remove_special_characters" inputId="binary" [binary]="true"></p-checkbox>

    </div>

    <div>
      Trim Whitespace
    <p-checkbox  [(ngModel)]="cb_trim_whitespace" inputId="binary" [binary]="true"></p-checkbox>

    </div>

    <div>
      Data Normalization
      <div>
        <p-checkbox  [(ngModel)]="cb_normalization" inputId="binary" [binary]="true"></p-checkbox>
        <p-dropdown [hidden]="!cb_normalization" [options]="normalizationTypes" [(ngModel)]="selectedNormalizationTypes" optionLabel="types" [showClear]="true" placeholder="Select option"></p-dropdown>
  
     
      </div>
        </div>
      <!-- <div>
        <span> </span>
        <p-dropdown [hidden]="!cb_normalization" [options]="normalizationTypes" [(ngModel)]="selectedNormalizationTypes" optionLabel="types" [showClear]="true" placeholder="Select new Data type"></p-dropdown>

      </div> -->
      <div>
        Outlier Management
        <div>
          <p-checkbox  [(ngModel)]="cb_outlierManagement" inputId="binary" [binary]="true"></p-checkbox>
          <p-dropdown [hidden]="!cb_outlierManagement" [options]="outlierTypes" [(ngModel)]="selectedOutlier" optionLabel="types" [showClear]="true" placeholder="Select option"></p-dropdown>
  
        </div>
          </div>
       








    </div>
    
    
 
  <br/>
  <div class="save-button">
    <div (click)="savechangestorules()">Save</div>
  </div>
 

  <!--  [binary]="true" -->
    
</p-dialog>
<button (click)="setdata()">set </button>