<div class="remove-all-button">
  <div (click)="addAllFields()">
    <span class="material-icons">add_circle</span> Keep All Columns
  </div>  &nbsp;
  <div (click)="removeAllFields()">
    <span class="material-icons">cancel</span> Remove All Columns
  </div>
  &nbsp;
  <div (click)="setdata()">
    <span class="material-icons">save</span> save cleaning rules </div>
</div>
<ag-grid-angular
    style="width: 80vw;height: 70vh;"
    class="ag-theme-alpine"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData"
    [sideBar]="sideBar"
    editable=true
    
    [columnDefs]="DatapreviewColumnNames"
    (gridReady)="onGridReady($event)">
</ag-grid-angular>


<p-dialog [header]="currentrow" 
[(visible)]="visible" 
[breakpoints]="{ '960px': '75vw' }" 
[style]="{ width: '50vw',height:'80vh' }"
 [draggable]="true"
  [resizable]="true">
  <!-- <p-scrollPanel [style]="{ width: '100%', height: 'max-content' }"> -->

    <div class="pop-up-continer">
      <div>
        <div>
          Remove Special characters
          <sup (click)="openHelpText()">
            <span class="material-icons">
              help
            </span>
          </sup>
         
        </div>
      
      <p-checkbox  [(ngModel)]="cb_remove_special_characters" inputId="binary" [binary]="true"></p-checkbox>
  
      </div>
  
      <div>
        <div>
          Trim Whitespace      
        <sup>
          <span class="material-icons">
            help
          </span>
        </sup>
        
      </div>
      <p-checkbox  [(ngModel)]="cb_trim_whitespace" inputId="binary" [binary]="true"></p-checkbox>
  
      </div>
  
      <div>
        <div>
          Data Normalization
          <sup>
            <span class="material-icons">
              help
            </span>
          </sup>
        </div>
        <div>
          <p-checkbox [(ngModel)]="cb_normalization" inputId="binary" [binary]="true"></p-checkbox>
          <p-dropdown [hidden]="!cb_normalization" 
            [options]="normalizationTypes" 
            [(ngModel)]="selectedNormalizationTypes"
            optionLabel="types" [showClear]="true" 
            placeholder="Select option">
          </p-dropdown>
        </div>
      </div>
     
        <div>
          <div>
            Outlier Management
            <sup>
              <span class="material-icons">
                help
              </span>
            </sup>
          </div>
          <div>
            <p-checkbox [(ngModel)]="cb_outlierManagement" inputId="binary" [binary]="true"></p-checkbox>
            <p-dropdown [hidden]="!cb_outlierManagement" [options]="outlierTypes" [(ngModel)]="selectedOutlier"
              optionLabel="types" [showClear]="true" placeholder="Select option"></p-dropdown>
        
          </div>
        
        </div>
  
        
      <div>
        <div>
          Missing Value Imputation
          <sup>
            <span class="material-icons">
              help
            </span>
          </sup>
        </div>
        <div>
          <p-checkbox [(ngModel)]="cb_MissingValueImputation" inputId="binary" [binary]="true"></p-checkbox>
          <p-dropdown [hidden]="!cb_MissingValueImputation" 
            [options]="missingvalueimpitationTypes" 
            [(ngModel)]="selectedmissingvalueimpitation"
            optionLabel="types" [showClear]="true" 
            placeholder="Select option">
          </p-dropdown>
        </div>
      </div>
         
  
  
      <div>
        <div>
          Numerical Column Binning
           <sup>
             <span class="material-icons">
               help
             </span>
           </sup>
         </div>
        <div>
          <p-checkbox [(ngModel)]="cb_Numerical_Column_Binning" inputId="binary" [binary]="true"></p-checkbox>
          <input 
          [hidden]="!cb_Numerical_Column_Binning" 
          type="text"
          pInputText 
          [(ngModel)]="selected_Numerical_Column_Binning" />
        </div>
      </div>
  
      <div>
        <div>
          Column Type Conversion
                <sup>
                  <span class="material-icons">
                    help
                  </span>
                </sup>
              </div>
        <div>
          <p-checkbox [(ngModel)]="cb_MissingValueImputation" inputId="binary" [binary]="true"></p-checkbox>
          <p-dropdown [hidden]="!cb_MissingValueImputation" 
            [options]="missingvalueimpitationTypes" 
            [(ngModel)]="selectedmissingvalueimpitation"
            optionLabel="types" [showClear]="true" 
            placeholder="Select option">
          </p-dropdown>
        </div>
      </div>
         
  
  
  
  
  
  
      </div>
  <!-- </p-scrollPanel> -->

    
    
 
  <br/>
  <div class="save-button">
    <div (click)="savechangestorules()">Save</div>
  </div>
 

  <!--  [binary]="true" -->
    
</p-dialog>
