<div class="remove-all-button">
  <div (click)="addAllFields()">
    <span class="material-icons">add_circle</span> 
    <!-- <i class="bi bi-plus-square"></i> -->
    Keep All 
  </div>  &nbsp;
  <div (click)="removeAllFields()">
    <span class="material-icons">cancel</span> 
    <!-- <i class="bi bi-x-circle"></i> -->
    Remove All 
  </div>
  &nbsp;
  <div (click)="resetRules()">
    <span class="material-icons">restart_alt</span> Reset Rules </div>
    &nbsp;
    <div (click)="dataSetActions()" >
      <i class="bi bi-magic"></i> Dataset Actions </div>
      &nbsp;
      <div (click)="setdata()">
        <span class="material-icons">save</span> 
        <!-- <i class="bi bi-floppy2"></i> -->
        Save Rules </div>
        &nbsp;

        <div (click)="downloadRules()">
          <span class="material-icons">
            download
            </span>

          Download Cleaning Rules </div>


          &nbsp;
          <div (click)="importRules()">
            <span class="material-icons">
              upload
              </span>

           Import Cleaning Rules </div>




</div>

<ag-grid-angular
    style="width: 80vw;height: 70vh;"
    class="ag-theme-alpine"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData"
    [sideBar]="sideBar"
    editable=true
    
    [columnDefs]="DatapreviewColumnNames"
    (gridReady)="onGridReady($event)">
</ag-grid-angular>


<p-dialog [header]="currentrow" 
[(visible)]="visible" 
[breakpoints]="{ '960px': '75vw' }" 
[style]="{ width: '60vw',height:'90vh' }"
 [draggable]="true"
  [resizable]="true">
  <!-- <p-scrollPanel [style]="{ width: '100%', height: 'max-content' }"> -->
   


    <div >
      <div>
        <p-tabView>
            <p-tabPanel header="General">
              <div class="pop-up-continer">
                

              
            
                
                <div>
                  <div>
                    Rename Column
                     <sup (click)="openHelpText('Rename Column')">
                       <span class="material-icons">
                         help
                       </span>
                     </sup>
                   </div>
                  <div>
                    <p-checkbox [(ngModel)]="cb_Rename_Column_Name" inputId="binary" [binary]="true"></p-checkbox>
                    <input 
                    [hidden]="!cb_Rename_Column_Name" 
                    type="text"
                    pInputText 
                    [(ngModel)]="Selected_Rename_Column_Name" />
                  </div>
                </div>

                
                <div>
                  <div>
                    Column Type Conversion
                          <sup (click)="openHelpText('Column Type Conversion')">
                            <span class="material-icons">
                              help
                            </span>
                          </sup>
                        </div>
                  <div>
                    <p-checkbox [(ngModel)]="cb_Column_Type_Conversion" inputId="binary" [binary]="true"></p-checkbox>
                    <p-dropdown [hidden]="!cb_Column_Type_Conversion" 
                      [options]="options_Column_Type_Conversion" 
                      [(ngModel)]="select_Column_Type_Conversion"
                      optionLabel="types" [showClear]="true" 
                      placeholder="Select option">
                    </p-dropdown>
                  </div>
                </div>
               
                  
            
                  
                <div>
                  <div>
                    Missing Value Imputation
                    <sup (click)="openHelpText('Missing Value Imputation')">
                      <span class="material-icons">
                        help
                      </span>
                    </sup>
                  </div>
                  <div>
                    <p-checkbox [(ngModel)]="cb_MissingValueImputation" inputId="binary" [binary]="true"></p-checkbox>
                    <p-dropdown [hidden]="!cb_MissingValueImputation" 
                      [options]="missingvalueimpitationTypes" 
                      [(ngModel)]="selectedmissingvalueimpitation"
                      optionLabel="types" 
                      [showClear]="true" 
                      (onChange)="missingvalueCustom()"
                      placeholder="Select option">
                    </p-dropdown>
                    
                    
                  
                  </div>
                </div>
                <div>
                  <input 
                    [hidden]="MissingValue_Custom || !cb_MissingValueImputation"
                    type="text"
                    pInputText 
                    placeholder="Enter Custom Value"
                    [(ngModel)]="Selected_MissingValue_Custom" />
                </div>
              </div>
              
            </p-tabPanel>
            <p-tabPanel header="Text">
              <div class="pop-up-continer">
                <div>
                  <div>
                    Remove Special characters
                    <sup (click)="openHelpText('Special Character Removal')">
                      <span class="material-icons">
                        help
                      </span>
                    </sup>
                   
                  </div>
                
                <p-checkbox  [(ngModel)]="cb_remove_special_characters" inputId="binary" [binary]="true"></p-checkbox>
            
                </div>
                
<!--             
                <div>
                  <div>
                    Column Type Conversion
                          <sup>
                            <span class="material-icons">
                              help
                            </span>
                          </sup>
                        </div>
                  <div>
                    <p-checkbox [(ngModel)]="cb_MissingValueImputation" inputId="binary" [binary]="true"></p-checkbox>
                    <p-dropdown [hidden]="!cb_MissingValueImputation" 
                      [options]="missingvalueimpitationTypes" 
                      [(ngModel)]="selectedmissingvalueimpitation"
                      optionLabel="types" [showClear]="true" 
                      placeholder="Select option">
                    </p-dropdown>
                  </div>
                </div> -->
                   
            
            
            
            
                

                <div>
                  <div>
                    Trim Whitespace      
                  <sup (click)="openHelpText('Trim Whitespace')">
                    <span class="material-icons">
                      help
                    </span>
                  </sup>
                  
                </div>
                <p-checkbox  [(ngModel)]="cb_trim_whitespace" inputId="binary" [binary]="true"></p-checkbox>
            
                </div>
          
          
                <div>
                  <div>
                    Adjust Text Case 
                          <sup (click)="openHelpText('Text Case Adjustment')">
                            <span class="material-icons">
                              help
                            </span>
                          </sup>
                        </div>
                  <div>
                    <p-checkbox [(ngModel)]="cb_Text_Case_Adjustment" inputId="binary" [binary]="true"></p-checkbox>
                    <p-dropdown [hidden]="!cb_Text_Case_Adjustment" 
                      [options]="options_Text_Case_Adjustment" 
                      [(ngModel)]="select_Text_Case_Adjustment"
                      optionLabel="types" [showClear]="true" 
                      placeholder="Select option">
                    </p-dropdown>
                  </div>
                </div>

                
                <div>
                  <div>
                    Remove Stopwords
                          <sup (click)="openHelpText('Remove Stopwords')">
                            <span class="material-icons">
                              help
                            </span>
                          </sup>
                        </div>
                  <div>
                    <p-checkbox [(ngModel)]="cb_Remove_Stopwords" inputId="binary" [binary]="true"></p-checkbox> 
                    <span [(ngModel)]="!cb_Remove_Stopwords">Language : English</span>               
                  </div>
                </div>


                <div>
                  <div>
                    Label Encoding
                          <sup (click)="openHelpText('Label Encoding')">
                            <span class="material-icons">
                              help
                            </span>
                          </sup>
                        </div>
                  <div>
                    <p-checkbox [(ngModel)]="cb_Label_Encoding" inputId="binary" [binary]="true"></p-checkbox> 
                                 
                  </div>
                </div>
                <div>
                  <div>
                    Text Tokenisation
                          <sup (click)="openHelpText('Text Tokenisation')">
                            <span class="material-icons">
                              help
                            </span>
                          </sup>
                        </div>
                  <div>
                    <p-checkbox [(ngModel)]="cb_Text_Tokenisation" inputId="binary" [binary]="true"></p-checkbox>
                    
                  </div>
                </div>

                <div>
                  <div>
                    Replace Substrings
                          <sup (click)="openHelpText('Replace Substrings')">
                            <span class="material-icons">
                              help
                            </span>
                          </sup>
                        </div>
                  <div>
                    <p-checkbox [(ngModel)]="cb_Replace_Substring" 
                    inputId="binary" 
                    [binary]="true"
                    onChange="enableLine()"
                    ></p-checkbox>    
                         
                  </div>
                </div>
                
                <div>
                  
                  <input 
                  id="replace_substring_from"
                  [hidden]="!cb_Replace_Substring" 
                  type="text"
                  pInputText 
                  placeholder="Source Substring"
                  [(ngModel)]="Selected_Replace_Substring_from" />
                
                  <input 
                  id="replace_substring_to"
                  [hidden]="!cb_Replace_Substring" 
                  type="text"
                  placeholder="Target Substring"
                  pInputText 
                  [(ngModel)]="Selected_Replace_Substring_to" />
                </div>

                <div>
                  <div>
                    Collapse Rare Categories
                          <sup (click)="openHelpText('Combine Rare Categopries')">
                            <span class="material-icons">
                              help
                            </span>
                          </sup>
                        </div>
                  <div>
                    <p-checkbox [(ngModel)]="cb_Combine_Rare_Categories" inputId="binary" [binary]="true"></p-checkbox>
                    <div style="display: flex;
                    flex-direction: column;"
                    *ngIf="cb_Combine_Rare_Categories"
                    >
                      <input type="text" pInputText 
                      [(ngModel)]="selected_Combine_Rare_Categories"
                  
                       class="w-full"/>
                      <p-slider [(ngModel)]="selected_Combine_Rare_Categories" 
                      class="w-full"></p-slider>
                  </div>
                  </div>
                </div>

                
                <div>
                  <div>
                    Regular Expression Operations
                          <sup (click)="openHelpText('Regular Expression Operations')">
                            <span class="material-icons">
                              help
                            </span>
                          </sup>
                        </div>
                        <div>
                          <p-checkbox [(ngModel)]="cb_Regular_Expression_Operations" inputId="binary" [binary]="true"></p-checkbox>
                          <p-dropdown *ngIf="cb_Regular_Expression_Operations" 
                            [options]="options_Regular_Expression_Operations" 
                            [(ngModel)]="select_Regular_Expression_Operations"
                            optionLabel="types" [showClear]="true" 
                            (onChange)="reg()"
                            placeholder="Select option">
                          </p-dropdown>
                        </div>

                </div>
                <div>
                  <input *ngIf="cb_Regular_Expression_Operations "
                  type="text" pInputText 
                  [(ngModel)]="select_Regular_Expression_Operations_from" 
                  class="w-full"/>

                  <input *ngIf="enableReplaceString && cb_Regular_Expression_Operations"
                  type="text" pInputText 
                  [(ngModel)]="select_Regular_Expression_Operations_to" 
                  class="w-full"/>
              
                </div>

              </div>
              
            </p-tabPanel>
            <p-tabPanel header="Numerical">
               <div class="pop-up-continer">
                
                <div>
                  <div>
                    Data Normalization
                    <sup (click)="openHelpText('Data Normalization')">
                      <span class="material-icons">
                        help
                      </span>
                    </sup>
                  </div>
                  <div>
                    <p-checkbox [(ngModel)]="cb_normalization" inputId="binary" [binary]="true"></p-checkbox>
                    <p-dropdown [hidden]="!cb_normalization" 
                      [options]="normalizationTypes" 
                      [(ngModel)]="selectedNormalizationTypes"
                      [showClear]="true"
                      optionLabel="types" [showClear]="true" 
                      placeholder="Select option">
                    </p-dropdown>
                  </div>
                </div>

                <div>
                  <div>
                    Outlier Management
                    <sup (click)="openHelpText('Outlier Managament')">
                      <span class="material-icons">
                        help
                      </span>
                    </sup>
                  </div>
                  <div>
                    <p-checkbox [(ngModel)]="cb_outlierManagement" inputId="binary" [binary]="true"></p-checkbox>
                    <p-dropdown [hidden]="!cb_outlierManagement"
                     [options]="outlierTypes" 
                     [(ngModel)]="selectedOutlier"
                      optionLabel="types" 
                      [showClear]="true" 
                      
                      placeholder="Select option"></p-dropdown>
                
                  </div>
                
                </div>

                <div>
                  <div>
                    Numerical Column Binning
                     <sup (click)="openHelpText('Numerical Column Binning')">
                       <span class="material-icons">
                         help
                       </span>
                     </sup>
                   </div>
                  <div>
                    <p-checkbox [(ngModel)]="cb_Numerical_Column_Binning" inputId="binary" [binary]="true"></p-checkbox>
                   
                    <p-chips
                    placeholder="Enter Bins"
                    [hidden]="!cb_Numerical_Column_Binning" 
                     [(ngModel)]="values" ></p-chips>
                    
                    
                  </div>
                </div>


                


               

                
               

            
               

                      </div>
            </p-tabPanel>
            <p-tabPanel header="Datetime">
              <div class="pop-up-continer">

                <div>
                  <div>
                    Standard Datetime format
                          <sup (click)="openHelpText('Standard Datetime format')">
                            <span class="material-icons">
                              help
                            </span>
                          </sup>
                        </div>
                  <div>
                    <p-checkbox [(ngModel)]="cb_Standard_Datetime_format" inputId="binary" [binary]="true"></p-checkbox>
                     <p-dropdown *ngIf="cb_Standard_Datetime_format"
                      [options]="Standard_Datetime_format_options" 
                      [(ngModel)]="selected_Standard_Datetime_format"
                      optionLabel="types" [showClear]="true" 
                      placeholder="Select option">
                    </p-dropdown>
                  </div>
                  <div >
                       
                  </div>
                </div>

                <div>
                  <div>
                    Extract Datetime Components
                          <sup (click)="openHelpText('Extract Datetime Components')">
                            <span class="material-icons">
                              help
                            </span>
                          </sup>
                        </div>
                  <div>
                    <p-checkbox [(ngModel)]="cb_Extract_Datetime_Components" inputId="binary" [binary]="true"></p-checkbox>
                    <p-multiSelect *ngIf="cb_Extract_Datetime_Components"
                    [options]="Extract_Datetime_Components_options" 
                    [(ngModel)]="Extract_Datetime_Components_selected" 
                    display="chip"                    
                    optionLabel="name"></p-multiSelect>
           
                  </div>
                  <div >
                       
                  </div>
                </div>
                </div>
            </p-tabPanel>
        </p-tabView>
      </div>
     
  
     
         
  
  
    






  
      </div>
  <!-- </p-scrollPanel> -->

    
    
 
  <br/>
  <div class="save-button">
    <div (click)="savechangestorules()">Save</div>
  </div>
 

  <!--  [binary]="true" -->
    
</p-dialog>


<p-dialog header="Dataset Actions" 
[(visible)]="Visibledatasetactions" 
[breakpoints]="{ '960px': '75vw' }" 
[style]="{ width: '60vw',height:'90vh' }"
 [draggable]="true"
  [resizable]="true">
  <div class="pop-up-continer">
    <div>
      <div>
        Remove Duplicate
              <sup (click)="openHelpText('REMOVEDUPLICATE')">
                <span class="material-icons">
                  help
                </span>
              </sup>
            </div>
      <div>
        <p-checkbox [(ngModel)]="cb_Remove_Duplicate" inputId="binary" [binary]="true"></p-checkbox> 
              
      </div>
    </div>
    </div>
    <br/>
    <div class="save-button">
      <div (click)="saveDatasetCleaning()">Save</div>
    </div>

  </p-dialog>

  <p-dialog header="Import Cleaning Rules" 
[(visible)]="visibleImportRules" 
[breakpoints]="{ '960px': '75vw' }" 
[style]="{ width: '60vw',height:'70vh' }"
 [draggable]="true"
  [resizable]="true">
  <div class="fileupload-container">

    <p-fileUpload  #fileupload [customUpload]="true" (uploadHandler)="UploadFile($event)" (onUpload)="onUploadFile($event)" >
      <ng-template pTemplate="content">
          <div id=fileupload>
               <img src="assets/images/draganddrop-icon.png" width="100px"> 
               <label>Drag & Drop file here</label>   
               <br/>
               <cite>Supported file types json </cite> 
               
          </div>
          <ul *ngIf="uploadedFiles.length">
              <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
          </ul>
      </ng-template>
  </p-fileUpload>


    </div>
    <br/>
    <div class="save-button">
      <div (click)="saveDatasetCleaning()">Start Cleaning</div>
    </div>

  </p-dialog>


  <p-dialog 
header="Help"
[(visible)]="visibleHelpText" 
[modal]="true" 
[style]="{ width: '50vw' }" 
[draggable]="true" 
[resizable]="false">
   <h2>What is it ... 🤔 ?</h2>
   <p>{{WHAT}}</p>
   <h2>How it is useful ... 🧐 ?</h2>
   <p>{{WHY}}</p>
   <h2>Example</h2>
   <p>{{EXAMPLE}}</p>
</p-dialog>