nav{
    background-color: #123;
    min-width: 15vw;
    min-height: 100vh;
    color: white;
}
#home-container{

    width: 99vw;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    display: flex;

}
nav div{
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0 2% 0;
    border-bottom:solid white 2px ;
}
nav div:hover{
cursor: pointer;
background-color: rgb(21, 102, 40);
color: rgb(255, 255, 255);
}
.content-container{
    min-height: 100vh;
    min-width: 85vw;
    max-width: 100%;
    max-height: 100vh;
    overflow: scroll;
}