.resize-2{
    resize: vertical;
    overflow: scroll;
  
    display: inline-flex;
    height: 50vh;
    color:white;
  }
  .resize{
    resize: vertical;
    overflow: scroll;

    display: inline-flex;
    height: 35vh;
    color:white;
  }

  .data-cleaning-home-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 80vw;
    min-height: 80vh;

    color: rgb(0, 0, 0);
    gap: 2px;
  }
