<div class="router-content-center">
<div class="glass-card">
    <table>
        
           <tr>

    
                <th>
                    Job ID
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    Last update Date
                </th>
            
            </tr>
        
        <tbody>
            <tr>
                <td>
                    <div>
                        <label>756cbbf0-6ec7-11ee-8790-0ea9e1003c50</label>
                        &nbsp;
                        <i class="pi pi-copy" (click)="copytoclipboard('756cbbf0-6ec7-11ee-8790-0ea9e1003c50')"></i>
                      
                    </div>
                </td>
                <td>11-11-1111</td>
                <td>11-11-1111</td>
            </tr>
            
        </tbody>
        
    </table>
</div>
</div>

<p-toast></p-toast>