<div class="router-content-center">
<div class="glass-card">
    <table>
        
           <tr>

    
                <th>
                    Jobs
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
            
            </tr>
        
        <tbody>
            <tr>
                <td>fd</td>
                <td>fd</td>
                <td>fd</td>
            </tr>
            <tr>
                <td>fd</td>
                <td>fd</td>
                <td>fd</td>
            </tr>
            <tr>
                <td>fd</td>
                <td>fd</td>
                <td>fd</td>
            </tr>
        </tbody>
        
    </table>
</div>
</div>