<div class="router-content-center">
<div class="glass-card">
    <div id="table">
        <div id="header">
            <div>
                Job ID
            </div>
            <!-- <div>
                Start Date
            </div>
            <div>
                Last update Date
            </div> -->
        </div>
        
   
   
                    <div>
                        <label>756cbbf0-6ec7-11ee-8790-0ea9e1003c50</label>
                        &nbsp;
                        <i class="pi pi-copy" (click)="copytoclipboard('756cbbf0-6ec7-11ee-8790-0ea9e1003c50')"></i>
                      
                    </div>
                </div>
                
</div>
</div>

<p-toast></p-toast>