<!-- <app-missing-values-chart/>
<app-duplicate-chart></app-duplicate-chart> -->

<!-- <app-number-fields-chart/>
<app-records-chart/>
<app-cardinality/> -->

<div class="dashboard">

    <div class="row1">
        
        <div class="div1">
            Total NO. Fields
            <app-number-fields-chart/>
        </div>
        <div class="div2">
            Total NO. Records 
           <app-records-chart/>
        </div>
        <div class="div3">
            Number of Duplicates 
            <app-duplicate-chart/>
        </div>
        <div class="div4">
            <app-data-quality-metric/>
        </div>
        
    </div>
    
    <div class="grid-container">
        <div><app-spider-chart/></div>
        <div><app-histogram/></div> 

        <div><app-cardinality/></div>
        <div><app-correlation-scatter-plot/></div>

        <div><app-data-types-chart/></div>
        
         
        <div> <app-outliers-scatter-plot/> </div> 
        <div > <app-missing-values-chart />  </div>
         
    </div>
</div>
