<div class="router-content-center">
    <div class="glass-card">
        <div id="data-profile-home-container-table">
            <div (click)="showDialog('assets/images/missing_values_plot_1697049816 (2).png','Missing values')">
                Missing values
            </div>

            <div (click)="showDialog('assets/images/outlier_scatter_1697109144.png','Outlier - Scatter')">
                Outlier - Scatter
            </div>

            <div (click)="showDialog('assets/images/outlier_table_1697052009.png',' Outlier - Table')">
                Outlier - Table
            </div>

            <div (click)="showDialog('assets/images/unique_values_plot_1697049816.png',' Unique Values')">
                Unique Values
            </div>

        </div>
    </div>

</div>

<p-dialog [header]="header" [(visible)]="visible" [style]="{width: '90vw'}">
    <p>
     <img #img [src]="imgURL">    
    </p>
</p-dialog>

<p-contextMenu [target]="img" [model]="items"></p-contextMenu>
<a target="_blank" #newwindow hidden ></a>