<!-- <app-missing-values-chart/>
<app-duplicate-chart></app-duplicate-chart> -->

<!-- <app-number-fields-chart/>
<app-records-chart/>
<app-cardinality/> -->

<div class="dashboard">
    <mat-tab-group  
    mat-stretch-tabs="true" mat-align-tabs="start"
    style="border: 1px white solid;"
        >

        <mat-tab > 
            <ng-template mat-tab-label>
                <div style="color: white;">
                    Data Profile
                </div>
                </ng-template>  
                <ng-template matTabContent>
                <div class="tabs">
                    <div class="stat div1 help-text-parent" >
           
                        <div>
                            Total NO. Fields
                            <sup (click)="openHelpText('NUMBEROFRECORDS')" class="help-text-child">
                                <span class="material-icons">
                                    help
                                    </span>
                            </sup>
                        </div>
                        <app-number-fields-chart/>
                    </div>
                    <div class="stat  help-text-parent">
                        <div>
                            Total NO. Records 
                            <sup (click)="openHelpText('NUMBEROFRECORDS')"  class="help-text-child">
                                <span class="material-icons">
                                    help
                                    </span>
                            </sup>
                        </div>
                        
                       <app-records-chart/>
                    </div>
                    <div class="chart-background help-text-parent">
                        <sup (click)="openHelpText('cardinality')"  class="help-text-child">
                            <span class="material-icons">
                                help
                                </span>
                        </sup>
                        <app-cardinality/>
                    </div>
                    <div class="chart-background help-text-parent">
                        <sup (click)="openHelpText('data-types-chart')"  class="help-text-child">
                            <span class="material-icons">
                                help
                                </span>
                        </sup>
                        <app-data-types-chart/></div>
                    <!-- tab-1 -->
                </div>
                </ng-template>
        </mat-tab>
        <mat-tab > 
            <ng-template mat-tab-label>
                <div style="color: white;">
                    Data Quality
                </div>
                </ng-template>  
                <ng-template matTabContent>
                <div class="tabs">
                 
                  
                    <div class="stat div3">
                        <div>
                            Number of Duplicates 
                            <sup>
                                <span class="material-icons">
                                    help
                                    </span>
                            </sup>
                        </div>
                       
                        <app-duplicate-chart/>
                    </div>
          
                      <div class="chart-background"
                        style="flex-direction: column;"
                      >
                        <p>
                            Data Quality Score
                        </p>
                        <app-data-quality-metric/>
                        <sup>
                            Expand
                        <span class="material-icons" (click)="showMore()" title="Show More">
                            <!-- more_vert -->
                            expand_circle_down
                            </span>
                        </sup>
                      </div>

               
              
                   
                 

                    <div 
                    class="row1"
                    *ngIf="!hide_more">
                        <div class="stat">
                            <app-completeness-metric/>
                        </div>
                        <div class="stat">
                            <app-consistency-metric/>
                        </div>
                        </div>  
                        <div 
                    class="row1"
                    *ngIf="!hide_more">
                        <div class="stat">
                            <app-uniqueness-metric/>
                        </div>
                        <div class="stat">
                            <app-readability-metric/>
                        </div>
                    </div>
                        
                    <div class="chart-background">
                     
                        <app-spider-chart style="max-width: 80%;"/>
                        <sup (click)="openHelpText('SPIDERCHART')"
                            style="flex-basis: 40%; display: flex; flex-direction: column;
                             justify-content: 
                             flex-start;
                             min-height: 100%;">
                            <span class="material-icons">
                                help
                                </span>
                                <span>&nbsp;</span>
                        </sup>
                    </div>
                    <div class="chart-background"> <app-missing-values-chart />  </div>
                    
                    <!-- tabs-2 -->
                </div>
                      
            </ng-template>
        </mat-tab>
        <mat-tab  > 
            <ng-template mat-tab-label>
                <div style="color: white;">
                    Data Exploration
                </div>
                </ng-template>  
                <ng-template matTabContent>
                    <div class="tabs">
                        <div class="chart-background"><app-histogram/></div> 
                    <div class="chart-background"><app-correlation-scatter-plot/></div>
                    <div class="chart-background"><app-bubble-chart/></div>
                    <div class="chart-background"> <app-outliers-scatter-plot/> </div> 
                    </div>
                    
                    </ng-template>

                    <!-- tab-3 -->
    </mat-tab>
        </mat-tab-group>
  
   
   
</div>
<p-dialog 
header="Help"
[(visible)]="visibleHelpText" 
[modal]="true" 
[style]="{ width: '50vw' }" 
[draggable]="true" 
[resizable]="false">
   <h2>What is it ... 🤔 ?</h2>
   <p>{{WHAT}}</p>
   <h2>How it is useful ... 🧐 ?</h2>
   <p>{{WHY}}</p>
</p-dialog>