/* Import Google Fonts for a professional look */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4; /* A light grey background for contrast */
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content */
    overflow-y: auto; /* Allow vertical scrolling */
    padding: 20px;
}

.row1 {
    display: flex;
    justify-content: center; /* Center the summary statistics */
    flex-wrap: wrap; /* Wrap onto new lines as needed */
    gap: 20px; /* Spacing between items */
    width: 200%; /* Full width */
}

.row1 div {
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white */
    border-radius: 5px;
    border: 1px solid #ddd; /* Light grey border for definition */
    padding: 15px; /* Padding within the boxes */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    margin: 5px; /* Margin around each stat box */
}

.grid-container {
    display: grid;
    width: 100%;
    min-width: 1200px; /* Adjust this value based on your content's needs */
    grid-template-columns: repeat(2, 1fr); /* Creates two columns */
    gap: 20px; /* Spacing between charts */
    justify-content: center; /* Center the grid within the container */
    padding: 15px; /* Padding inside the container */
    height: auto;
    min-height: 500px; /* Adjust this value based on your chart's needs */
}

.grid-container div {
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white */
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 15px;
    text-align: center;
    overflow: auto; /* Allows for scrolling if the content is too big */
    position: relative; /* For positioning inner elements absolutely if needed */
    height: auto; /* Adjusts the height automatically */
}


/* Assuming charts are rendered within an element with the class 'chart' */
.chart {
    transform: scale(0.95); /* Scales the chart to 95% of its original size */
    transform-origin: center; /* Ensures the scaling is centered */
    position: relative;
}



/* Styles for chart titles */
.chart-title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #275478; /* Dark blue for titles */
    margin-bottom: 15px;
}

/* Responsive design adjustments for smaller screens */
@media (max-width: 768px) {
    .row1 {
        flex-direction: column;
        align-items: center;
    }

    .grid-container {
        grid-template-columns: 1fr; /* Full width charts on smaller screens */
    }
}
